name: GitHub-Profile-Summary-Cards

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-cards
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          username: ${{ github.repository_owner }}
          theme: algolia

      - name: Fetch GitHub Activity Graph
        run: |
          mkdir -p ./profile-summary-card-output/algolia
          curl -o ./profile-summary-card-output/algolia/5-activity-graph.svg "https://github-readme-activity-graph.vercel.app/graph?username=ettory-automation&theme=tokyonight&hide_border=true&area=true&bg_color=050f2c&color=00aeff&line=44a8b3&point=ffffff"

      - name: Commit & Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update GitHub Profile Summary Cards and Activity Graph" || exit 0
          git push
